.wrapper {
    padding: 60px 80px;
    background: #ffffff;
}

@media (max-width: 1024px) {
    .wrapper {
        padding: 40px 40px;
    }
}

@media (max-width: 800px) {
    .wrapper {
        padding: 30px 15px;
    }
}

/* layout */
.container {
    margin: auto;
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

@media (max-width: 1024px) {
    .container {
        gap: 20px;
    }
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        gap: 30px;
    }
}

/* LEFT */
.left {
    width: 320px;
}

@media (max-width: 1024px) {
    .left {
        width: 300px;
    }
}

@media (max-width: 900px) {
    .left {
        width: 260px;
    }

    .menuList button {
        padding: 14px 12px;
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .left {
        width: 100%;
    }

    .menuList button {
        padding: 16px 18px;
        font-size: 16px;
    }
}

/* TITLE */
.left h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: #4f5d2f;
    margin-bottom: 25px;
}

/* MENU */
.menuList {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.menuList button {
    width: 100%;
    padding: 16px 18px;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    border: none;
    transition: all 0.25s ease;
}

/* normal */
.item {
    background: #eeeeee;
    color: #4f5d2f;
}

.item:hover {
    background: #e2e2e2;
}

/* active */
.active {
    background: linear-gradient(to right, #72721B 0%, #C5C58C 100%);
    color: #ffffff;
}

/* RIGHT */
.right {
    flex: 1;
}