.bannerFull {
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
}

/* background */
.bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* overlay */
.overlay {
    background: transparent;
}

/* content */
.content {
    position: absolute;
    top: 65%;
    left: 80px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
    /* ปรับให้บาลานซ์ขึ้น */
}

/* logo */
.logo {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 150px;
    object-fit: contain;
}

/* text */
.text {
    position: relative;
    top: -10px;
    left: 10px;
}

/* text style */
.text h1 {
    color: white;
    font-size: 38px;
    margin: 0;
}

.text p {
    color: #ddd;
    font-size: 18px;
}