/* ===== WRAPPER ===== */
.wrapper {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

/* ===== TITLE ===== */
.title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.desc {
    color: #777;
    font-size: 14px;
    margin-bottom: 40px;
}

/* ===== PRESIDENT ===== */
.presidentCard {
    width: 340px;
    margin: 0 auto 50px;
    position: relative;

    /* 🔥 animation */
    opacity: 0;
    transform: translateY(40px) scale(0.95);
    transition: all 0.8s ease;
}

@media (max-width: 480px) {
    .presidentCard {
        width: 100%;
        max-width: 300px;
    }
}

.presidentShow {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.presidentCard img {
    width: 100%;
    border-radius: 20px;
}

/* ===== PRESIDENT INFO ===== */
.presidentInfo {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    padding: 14px;

    background: rgba(255, 255, 255, 0.95);
    border-radius: 16px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
}

.presidentInfo h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
}

.presidentInfo p {
    font-size: 12px;
    color: #666;
}

/* ===== ROLE ===== */
.role {
    display: inline-block;
    margin-top: 3px;
    font-size: 10px;
    font-weight: 600;
    color: #9aa24b;
}

/* ===== GRID ===== */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
    justify-items: center;
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

/* ===== CARD ===== */
.card {
    position: relative;
    width: 100%;
    max-width: 220px;

    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* ===== IMAGE ===== */
.card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

/* hover zoom */
.card:hover img {
    transform: scale(1.08);
}

/* ===== INFO ===== */
.info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;

    background: rgba(255, 255, 255, 0.9);
    border-radius: 14px;
    padding: 10px 12px;

    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(6px);

    transition: 0.3s;
}

/* hover effect */
.card:hover .info {
    transform: translateY(-4px);
    background: rgba(255, 255, 255, 1);
}

/* ===== TEXT ===== */
.info h4 {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 2px;
}

.info p {
    font-size: 11px;
    color: #777;
}